<nav id="{{black}}" class="nav {{blackNav}}">
  <button class="logo"></button>

  <div class="hidden">
    <a class="link-dasCafe {{cafe}}" href="/dasCafe/index.html">das Café</a>
    <a
      class="link-herkunft {{herkunft}}"
      href="/dieHerkunft/index.html"
    >Herkunft</a>
    <a class="link-shop {{shop}}" href="/Shop/index.html">Shop</a>

    <button class="shoppingBag navigateToShoppingCart">
      <span class="shoppingCartCount"></span>
    </button>

  </div>
  <button class="burgerMenu"><span class="shoppingCartCount"></span></button>

</nav>